# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.vscode/
.idea/
.DS_Store
